<div class="row loginbg">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <div class="vertical-center">
      <md-whiteframe class="md-whiteframe-z5 loginmodalbg" layout layout-align="center center">
        <div class="row">
          <div class="col-md-7">
            <img ng-src="../global/img/arriba1.png" class="img-responsive" alt="Arriba">
          </div>
          <div class="col-md-4">
            <form name="loginForm">
              <br>
              <br>
              <md-input-container>
              <label>Usuario</label>
              <input name="username" required ng-model="loginInfo.username">
              </md-input-container>

              <md-input-container>
              <label>Contraseña</label>
              <input name="password" required type="password" ng-model="loginInfo.password">
              </md-input-container>
              <br>
              <md-button ng-click="authenticate($event)" class="md-raised md-primary center-block">Iniciar Sesion</md-button>
            </form>
          </div>
        </div>
      </md-whiteframe>
    </div>
  </div>
  <div class="col-lg-3"></div>
</div>