<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Cambiar Contrasena</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

        <div class="form-group">
          <label>Contrasena actual</label>

          <input type="password" name="password" class="form-control" ng-model="vm.user.oldPassword"
                 mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ vm.errors.other }}
          </p>
        </div>

        <div class="form-group">
          <label>Nueva Contrasena</label>

          <input type="password" name="newPassword" class="form-control" ng-model="vm.user.newPassword"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || vm.submitted)">
            La contrasena debe ser de almenos 3 caracteres
          </p>
        </div>

        <div class="form-group">
          <label>Confirme nueva Contrasena</label>

          <input type="password" name="CnewPassword" class="form-control" ng-model="vm.user.CnewPassword"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.CnewPassword.$error.minlength || form.CnewPassword.$error.required) && (form.CnewPassword.$dirty || vm.submitted)">
            La contrasena debe ser de al menos 3 caracteres
          </p>
        </div>

        <p class="help-block"> {{ vm.message }} </p>

        <button class="btn btn-lg btn-primary" type="submit">Guardar Cambios</button>
      </form>
    </div>
  </div>
</div>
