<md-dialog aria-label="Editar FAQ" id="faq-edit">

    <md-toolbar class="md-accent">
        <h3 class="md-toolbar-tools">
            Editar la pregunta
        </h3>
    </md-toolbar>

    <md-content>
        <section class="section slim" layout="column">
            <p>
                Editar la pregunta frecuente
            </p>
        </section>

        <form name="editFaqForm">

            <section class="section" layout="column">

				<span layout="row" layout-sm="column">
                    <md-input-container flex>
                        <label>Pregunta</label>
                        <input name="name" ng-model="record.Pregunta">

                        <div ng-messages="editFaqForm.name.$error">
                            <div ng-message="required">La pregunta es requerida</div>
                            <div ng-message="mongoose">Esta pregunta ya existe</div>
                            <div ng-message="remote-unique">La pregunta ya existe</div>
                        </div>
                    </md-input-container>
				</span>

				<span layout="row" layout-sm="column">
					<md-input-container flex class="last">
                        <label>Descripcion</label>
                        <textarea name="info" ng-model="record.Respuesta"></textarea>
                    </md-input-container>
				</span>

            </section>

        </form>

    </md-content>

    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="cancel()">Cancelar</md-button>
        <md-button ng-disabled="editFaqForm.$invalid" ng-click="Update(); hide();" class="md-primary md-raised">Editar!</md-button>
    </div>

</md-dialog>
