<md-dialog aria-label="Nuevo Integrante" id="admin-user-create">

  <md-toolbar class="md-accent">
    <h3 class="md-toolbar-tools">
      Nuevo Integrante
    </h3>
  </md-toolbar>

  <md-content>
    <section class="section slim" layout="column">
      <p>
        Nuevo Integrante del Equipo.
      </p>
    </section>
    <form name="createForm">

      <section class="section" layout="column">

				<span layout="row" layout-sm="column">
					<md-input-container flex>
            <label>Nombre</label>
            <input name="name" ng-model="create.team.name"
                   ng-model-options="{updateOn: 'default blur', debounce: {'default': 500, 'blur': 0}}"
                   required mongoose-error remote-unique="User">
            <div ng-messages="createForm.name.$error">
              <div ng-message="required">El nombre es requerido</div>
              <div ng-message="mongoose">El nombre ya existe</div>
              <div ng-message="remote-unique">El nombre ya existe</div>
            </div>
          </md-input-container>
				</span>

				<span layout="row" layout-sm="column">
					<md-input-container flex class="last">
            <label>Biografia</label>
            <textarea name="info" ng-model="create.team.bio"></textarea>
          </md-input-container>
				</span>

      </section>

    </form>

  </md-content>

  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="create.close()">Cancelar</md-button>
    <md-button ng-disabled="createForm.$invalid" ng-click="create.create(createForm)" class="md-primary md-raised">Nuevo Integrante</md-button>
  </div>

</md-dialog>
