<div layout="column" layout-sm="column" layout-padding style="padding: 24px;">
    <div class="row text-center"><h2>Informacion de Contacto</h2></div>
    <md-divider md-inset></md-divider>
    <br />
    <br />
    <div class="row">
        <md-input-container class="md-icon-float">
            <label >Correo</label >
            <md-icon src="./files/img/correo.png"></md-icon>
            <input />
        </md-input-container>
    </div>
    <div class="row">
        <md-input-container class="md-icon-float">
            <label >Direccion</label >
            <md-icon src="./files/img/direccion.png"></md-icon>
            <input />
        </md-input-container>
    </div>
    <div class="row">
        <md-input-container class="md-icon-float">
            <label >Telefono</label >
            <md-icon src="./files/img/telefono.png"></md-icon>
            <input />
        </md-input-container>
    </div>
    <div class="row">
        <md-input-container class="md-icon-float">
            <label >Nombre de Compania</label >
            <md-icon src="./files/img/compania.png"></md-icon>
            <input />
        </md-input-container>
    </div>
</div>