<div layout-padding style="padding: 24px;" layout="column" layout-sm="column">
    <div class="row text-center"><h2>Editar Pregunta</h2></div>
    <md-divider md-inset></md-divider>
    <br />
    <br />
    <div class="row">
        <md-input-container class="md-icon-float">
            <label >Titilo de la pregunta</label >
            <md-icon src="./files/img/pregunta.png"></md-icon>
            <input />
        </md-input-container>
    </div>
    <div class="row">
        <md-input-container class="md-icon-float">
            <label >Respuesta</label >
            <md-icon src="./files/img/respuesta.png"></md-icon>
            <input />
        </md-input-container>
    </div>
</div>