<md-dialog aria-label="Editar nuevo permiso" id="admin-user-create">

  <md-toolbar class="md-accent">
    <h3 class="md-toolbar-tools">
      Editar Nuevo Rol
    </h3>
  </md-toolbar>

  <md-content>
    <section class="section slim" layout="column">
      <p>
        Editar nuevo rol de usuario
      </p>
    </section>

    <form name="createForm">

      <section class="section" layout="column">

				<span layout="row" layout-sm="column">
					<md-input-container flex>
            <label>Nombre del rol</label>
            <input name="name" ng-model="edit.role.name"
                   ng-model-options="{updateOn: 'default blur', debounce: {'default': 500, 'blur': 0}}"
                   required mongoose-error remote-unique="User">
            <div ng-messages="createForm.name.$error">
              <div ng-message="required">El nombre del rol es requerido</div>
              <div ng-message="mongoose">Este rol ya esta en uso</div>
              <div ng-message="remote-unique">Este rol ya este en uso</div>
            </div>
          </md-input-container>
				</span>

				<span layout="row" layout-sm="column">
					<md-input-container flex class="last">
            <label>Descripcion</label>
            <textarea name="info" ng-model="edit.role.info"></textarea>
          </md-input-container>
				</span>

      </section>

    </form>

  </md-content>

  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="create.close()">Cancelar</md-button>
    <md-button ng-disabled="createForm.$invalid" ng-click="create.create(createForm)" class="md-primary md-raised">Edit Rol</md-button>
  </div>

</md-dialog>
