<md-data-table-container>
    <table md-data-table>

        <thead md-order="query.order" md-trim-column-names>
        <tr>
            <th order-by="content">Contendio</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="c in changes">
            <td>{{c.content}}</td>
        </tr>
        </tbody>

    </table>
</md-data-table-container>

<md-data-table-toolbar layout-align="end">
    <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="9"></md-data-table-pagination>
</md-data-table-toolbar>
