<md-grid-list  md-cols="6" md-row-height="1:1" md-gutter="8px">

    <md-grid-tile class="blue"  md-rowspan="2" md-colspan="2" ng-click="goTo('comunidades')">
      <ng-md-icon icon="dashboard" style="fill: #FFFFFF" size="300"></ng-md-icon>
      <md-grid-tile-footer>
        <h3>Comunidades</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="amber" ng-click="goTo('faq')">
      <ng-md-icon icon="question_answer" style="fill: #949494" size="100"></ng-md-icon>
      <md-grid-tile-footer>
        <h3>FAQ</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="bgray" ng-click="goTo('terminos-de-uso')">
      <ng-md-icon icon="info" style="fill: #ffbd05" size="100"></ng-md-icon>
      <md-grid-tile-footer>
        <h3>TOU</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="dorange" md-colspan="2" ng-click="goTo('compania')">
      <ng-md-icon icon="business" style="fill: #FFFFFF" size="100"></ng-md-icon>
      <md-grid-tile-footer>
        <h3>Compania</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="dgreen" md-rowspan="2" md-colspan="2" ng-click="goTo('equipo')">
      <ng-md-icon icon="people" style="fill: #FFFFFF" size="300"></ng-md-icon>
      <md-grid-tile-footer>
        <h3>Equipo</h3>
      </md-grid-tile-footer>
    </md-grid-tile>



    <md-grid-tile class="green" ng-click="goTo('contacto')">
      <ng-md-icon icon="my_location" style="fill: #7C4DFF" size="100"></ng-md-icon>
      <md-grid-tile-footer>
        <h3>Contacto</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="brown" ng-click="goTo('informacion-publica')">
      <ng-md-icon icon="description" style="fill: #FFEB3B" size="100"></ng-md-icon>
      <md-grid-tile-footer>
        <h3>Sobre el Proyecto</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red" ng-click="goTo('categorias-comunidades')">
      <ng-md-icon icon="texture" style="fill: #FFEB3B" size="100"></ng-md-icon>
      <md-grid-tile-footer>
        <h3>Categorias</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="purple" ng-click="goTo('generalidades')">
      <ng-md-icon icon="group_work" style="fill: #CDDC39" size="100"></ng-md-icon>
      <md-grid-tile-footer>
        <h3>Generalidades</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="yellow" ng-click="goTo('administracion')">
      <ng-md-icon icon="speaker_notes" style="fill: #F44336" size="100"></ng-md-icon>
      <md-grid-tile-footer>
        <h3>Administracion</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="gray" ng-click="goTo('configurar-cuenta')">
      <ng-md-icon icon="accessibility" style="fill: #FF5722" size="100"></ng-md-icon>
      <md-grid-tile-footer>
        <h3>Cuenta</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

</md-grid-list>

